<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic configuration</title>

        <input-field type="text">
            <name>userName</name>
            <placeholder>Enter Username...</placeholder>
            <label>User-Name</label>
            <copyable>true</copyable>
            <minLength>5</minLength>
            <maxLength>10</maxLength>
            <required>true</required>
        </input-field>

        <input-field type="password">
            <name>userPass</name>
            <placeholder>Enter Your Password...</placeholder>
            <label>Password</label>
            <minLength>5</minLength>
            <maxLength>10</maxLength>
            <disabled>true</disabled>
        </input-field>

        <input-field type="textarea">
            <name>textArea</name>
            <label>Text-Area</label>
            <copyable>true</copyable>
            <placeholder>Enter you want to add as text-area...</placeholder>
        </input-field>

        <input-field type="url">
            <name>url</name>
            <label>URL</label>
            <copyable>true</copyable>
            <placeholder>Enter your URL...</placeholder>
        </input-field>

        <input-field type="int">
            <name>int</name>
            <label>Int Value Type</label>
            <placeholder>Enter Integer value...</placeholder>
        </input-field>

        <input-field type="float">
            <name>float</name>
            <label>Float Value Type</label>
            <placeholder>Enter Float value...</placeholder>
        </input-field>

        <input-field type="bool">
            <name>bool</name>
            <label>Show in StoreFront</label>
        </input-field>

        <input-field type="checkbox">
            <name>checkbox</name>
            <label>Agree to Terms</label>
        </input-field>

        <input-field type="datetime">
            <name>datetime</name>
            <label>Date and Time</label>
        </input-field>

        <input-field type="colorpicker">
            <name>colorpicker</name>
            <label>Select the Color</label>
        </input-field>

        <input-field type="single-select">
            <name>singleSelect</name>
            <placeholder>Select the product...</placeholder>
            <label>Single Select with input-field</label>
            <options>
                <option>
                    <id>1</id>
                    <name>Product 1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>Product 2</name>
                </option>
            </options>
        </input-field>

        <input-field type="multi-select">
            <name>multiSelect</name>
            <placeholder>Select the product...</placeholder>
            <label>Multi Select with input-field</label>
            <options>
                <option>
                    <id>1</id>
                    <name>Product 1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>Product 2</name>
                </option>
            </options>
        </input-field>

        <input-field type="text-editor">
            <name>textEditor</name>
            <label>Text-Editor</label>
            <placeholder>Enter you want to do as text-editor...</placeholder>
        </input-field>

        <component name="sw-entity-single-select">
            <name>singleProduct</name>
            <entity>product</entity>
            <label>Select with single Entity</label>
            <placeholder>Select the product...</placeholder>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>multiProduct</name>
            <entity>product</entity>
            <label>Select with single Entity</label>
            <placeholder>Select the product...</placeholder>
        </component>

        <component name="sw-media-field">
            <name>media</name>
            <label>Upload media...</label>
        </component>

        <component name="sw-snippet-field">
            <name>snippetField</name>
            <label>Description</label>
            <snippet>myPlugin.test.snippet</snippet>
        </component>
    </card>

</config>
